$topNavHeight: 75px;

$colourDark: #333333;
$colourMedium: #ededed;
$colourLight: #FAFAFA;

$mainGridColumns: 1fr 1fr 1fr 1fr;

$mainGridGap: (phone: 3em, phablet: 3em, tablet: 3em, desktop: 4em, desktophd: 4em);